/* ==================
   Home Styles
  ================== */

.home {
  .posts {
    padding: 10px;
    margin-bottom: 30px;

    p {
      @extend .posts-description;
      border-left: 4px solid $black;
      padding-left: 15px;
    }
  }
}

.posts-link {
  display: block;
}

.posts-title {
  @extend %posts-title;
  a {
    @extend .posts-title;
    font-size: 1em;

    &::before {
      content: '';
      width: 0;
      height: 0;
      color: transparent;
      @include transition(all, .2s, ease-in-out, 0s);
    }

    &:hover {
      &::before {
        content: '';
        width: 100%;
        background-color: $gray;
        height: 1px;
        bottom: 0;
        position: absolute;
        display: block;
      }
    }
  }
}

.posts-info {
  .month {
    @extend %posts-info;
    margin-right: 0px !important
  }

  .year {
    @extend %posts-info;
  }

  .local {
    @extend %posts-info;
  }
}

.posts-description {
  @extend %text;
}

