<%= partial 'partials/header' %>

  <main id="main" class="main container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12">
        <%= yield %>
      </div>
    </div>
  </main>

<%= partial 'partials/footer'  %>