<footer class="footer-primary">
  <small>Feito com <%= link_to 'Middleman', 'http://middlemanapp.com/', title: 'Middleman', target: '_blank' %> e
  <span class="beer" title="beer"></span> .
    <!-- e 
  <span class="rock" title="rock"></span>.</small> -->
</footer>

<%= javascript_include_tag  'all' %>
</body>
</html>