<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" lang="en">
<head>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta charset="UTF-8">
  <title><%= current_page.data.title || 'Café, música e front-end | blog.thulioph' %></title>

  <!-- META TAGS -->
  <meta name="Description" content="This is just an example of markup with decent semantics for your personal use.">
  <meta name="Keywords" content=""/>
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="format-detection" content="telephone=yes">
  <meta http-equiv="cleartype" content="on">

  <!-- APPLE TOUCH ICON -->
  <link rel="icon" href="favicon.png" type="image/png" sizes="16x16">
  <link rel="apple-touch-icon" sizes="57x57" href="./apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./apple-touch-icon-ipad.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="./apple-touch-icon-iphone4.png" />

  <!-- HUMANS -->
  <link type="text/plain" rel="author" href="http://www.dominio.com.br/humans.txt" />

  <!-- OPEN GRAPH -->
  <meta property='og:title' content='Catrina' />
  <meta property='og:description' content='Template Project Front-End' />
  <meta property='og:url' content='http://www.catrina.com' />
  <meta property='og:image' content='http://www.catrina.com/dist/images/og-facebook.png'/>
  <meta property='og:type' content='website' />
  <meta property='og:site_name' content='Catrina | Template Project Front-End' />
  
  <!-- Stylesheet -->
  <%= stylesheet_link_tag 'main', media: 'all' %>
</head>

<body class="<%= page_classes %>">
  <header class="header-primary">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h1 class="logo-primary">
            <a href="/">Thulioph</a>
          </h1>
          <h3 class="subtitle">café, música e <a href="http://pt.wikipedia.org/wiki/Front-end_e_back-end" title="Sabe o que é?" target="_blank">front-end</a>.</h3>
        </div>

        <div class="col-xs-12 col-sm-3 col-sm-offset-3 block">
          <nav class="nav-primary" role="navigation">
            <ul class="nav-list">
              <li class="nav-item"><a href="http://github.com/thulioph" target="_blank" class="nav-link" title="Github">Github</a></li>
              <li class="nav-item"><a href="http://twitter.com/_thulioph" class="nav-link" target="_blank" title="Twitter">Twitter</a></li>
              <li class="nav-item"><a href="http://fb.com/thulioph" class="nav-link" target="_blank" title="Facebook">Facebook</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>